# the contents of the files. FOR NOW, later I might add a test csv
output_files/*
test_files/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# dot files
.vscode
.venv

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Hasta que no este listo el readme o sea necesario, lo mantendre en el ignore 
README.md